* {
  box-sizing: border-box;
  font-family: "Source Code Pro";
}

body {
  background-color: black;
}

.main-container {
  position: relative;

  overflow: hidden;

  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

.sidebars-container {
  margin-bottom: 8px;

  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-btn-history {
  padding: 0;

  color: white;
  background: none;
  border: none;
  cursor: pointer;

  font-size: 19px;
}

.sidebar-btn-history:hover {
  color: khaki;
}

.available-budget {
  margin-right: 5px;

  font-size: 19px;
  color: white;
}

.sidebar-btn-settings {
  width: 27px;
  height: 27px;

  color: white;
  background: none;
  border: none;

  cursor: pointer;

  background-image: url(../resources/settings-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sidebars-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.daily-budget-container {
  margin-bottom: 170px;

  width: 100%;
  max-height: 210px;
  height: 100%;
}

.daily-budget-info {
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.daily-budget-remaining {
  margin: 0;

  color: white;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0.1em;
}

.daily-budget-paragraph {
  margin-top: 5px;

  font-size: 20px;
  color: white;
}

.memo {
  width: 70%;
  height: 30%;
  font-size: 20px;
  color: white;
}

.expenses-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.expenses-input-wrapper {
  margin: 0 auto;
  width: 80%;
}

.expenses-input {
  margin-bottom: 5px;

  box-sizing: border-box;
  width: 100%;
  height: 50px;

  background: none;
  border: none;
  outline: none;

  font-size: 60px;
  font-weight: 700;
  font-family: "Source Code Pro";
  text-align: right;
  color: khaki;
}

.expenses-btn-wrapper {
  margin: 0 auto;

  width: 80%;
  max-height: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
}

.expenses-btn {
  aspect-ratio: 3 / 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  padding: 0;

  color: black;
  font-size: 45px;
  font-weight: 700;
  line-height: 0;

  background-color: white;
  border-color: black;
  border-radius: 10px;

  aspect-ratio: 1/1;

  transition: transform 0.1s, background-color 0.3s;
}

.btn:active {
  transform: scale(0.95);
  background-color: rgba(211, 211, 211, 0.5);
}

.btn-del {
  background-color: white;
  font-size: 35px;
}

.btn-enter {
  font-size: 50px;
  background-color: white;
}

.sidebar-history {
  position: absolute;

  left: -100%;

  transition: left 0.3s ease;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 1);
}

.sidebar-history.show {
  left: 0;
}

.sidebar-settings {
  position: absolute;

  right: -100%;

  transition: right 0.3s ease;

  height: 40%;
  width: 100%;

  background-color: rgba(0, 0, 0, 1);
}

.sidebar-settings.show {
  right: 0;
}

.expense-amount {
  color: white;
}

.expense-day {
  color: white;
}

.expense {
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.sidebar-history {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

.expense-amount {
  margin: 0;

  color: white;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0.1em;
}

.expense-day {
  margin-top: 5px;

  font-size: 20px;
  color: white;
}

.amount-input-container {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  max-height: 107px;
  height: 100%;
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);

  display: flex;
  gap: 50px;
}

.amount-header {
  margin: 0;

  color: white;
  font-size: 25px;
}

.budget-input {
  margin-bottom: 5px;

  box-sizing: border-box;
  width: 100%;
  height: 50px;

  background: none;
  border: none;
  outline: none;

  font-size: 60px;
  font-weight: 700;
  font-family: "Source Code Pro";
  color: khaki;
}

.daily-budget {
  margin: 0;

  color: white;
  font-size: 25px;
}

@media (max-width: 600px) {
  .expense-amount {
    font-size: 20px;
  }

  .available-budget {
    font-size: 15px;
    letter-spacing: -0.1em;
  }
}
